<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop Store | Home</title>

    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <!-- Navigation Bar -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <h2>Laptop Store</h2>
            </div>

            <ul class="nav-links">
                <li><a href="../view/index.html" class="active">Home</a></li>
                <li><a href="../view/about.html">About</a></li>
                <li><a href="../view/products.html">Products</a></li>
                <li><a href="../view/services.html">Services</a></li>
                <li><a href="../view/contact.html">Contact</a></li>
            </ul>

            <div class="menu-toggle">
                ☰
            </div>
        </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-text">
            <h1>Find Your  Laptop Here !</h1>

            <p>
                Welcome to Laptop Store. We provide high-quality laptops
                for students, professionals, gamers, and businesses at
                affordable prices.
            </p>

            <a href="products.html" class="btn">
                Browse Products
            </a>
        </div>

       
    </section>

    <!-- Featured Products -->
    <section class="featured">

        <h2>High Quality Laptops</h2>

        <div class="product-container">

            <div class="card">
                <img src="../images/laptop1.jpg" alt="Laptop 1">
                <h3>Asus Zenbook Duo</h3>
                <p>Intel Core i7 | 32GB RAM | 1GB SSD</p>
                <h4>$699</h4>
            </div>

            <div class="card">
                <img src="../images/laptop2.jpg" alt="Laptop 2">
                <h3>Asus Tuf</h3>
                <p>Intel Core i7 | 16GB RAM | 512GB SSD</p>
                <h4>$849</h4>
            </div>

            <div class="card">
                <img src="../images/laptop3.jpg" alt="Laptop 3">
                <h3>Lenovo IdeaPad</h3>
                <p>AMD Ryzen 5 | 8GB RAM | 512GB SSD</p>
                <h4>$729</h4>
            </div>

            <div class="card">
                <img src="../images/laptop4.jpg" alt="Laptop 4">
                <h3>Msi </h3>
                <p>Intel Core i5 | 16GB RAM | 1TB SSD</p>
                <h4>$899</h4>
            </div>

        </div>

    </section>

    

    <!-- Call to Action -->
    <section class="cta">

        <h2>Looking for Your Next Laptop?</h2>

        <p>
            Explore our latest collection and find the perfect laptop
            for work, study, or gaming.
        </p>



    </section>

    

    <script src="../js/script.js"></script>

</body>
</html>